.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.close {
  font-size: 32px;
}

h1 {
  margin: 0.25em;
}

#navs {
  color: blue;
}

.pull-left {
  float: left;
  width: 50%;
}

.pull-right {
  float: left;
  width: 50%;
}

.pull-right > div {
  text-align: right;
}

.narrow {
  width: 34%;
}

.center {
  float: left;
  width: 32%;
}

.center > div {
  text-align: center;
}

.wide {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.northbound {
  background-color: #fdd;
}

tr.southbound {
  background-color: lightblue;
}

td {
  border: 1px solid gray;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 0 2px;
}

@media (max-width: 520px) {
  td.id {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 640px) {
  td.deviation {
    display: none;
  }
}

@media (max-width: 370px) {
  td.delay {
    display: none;
  }
}

td.countdown {
  text-align: right;
}

.station {
  font-size: 21px;
}