.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.close {
  font-size: 32px;
}

#navs {
  color: blue;
}

.pull-left {
  float: left;
  width: 50%;
}

.pull-right {
  float: left;
  width: 50%;
}

.pull-right > div {
  text-align: right;
}

.narrow {
  width: 34%;
}

.center {
  float: left;
  width: 32%;
}

.center > div {
  text-align: center;
}

.wide {
  width: 100%;
}

table {
  width: 100%;
}

tr.northbound {
  background-color: #fdd;
}

tr.southbound {
  background-color: lightblue;
}

td {
  border: 1px solid white;
  padding: 1px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  text-align: left;
}

td.countdown {
  text-align: right;
}

.station {
  font-size: 21px;
}