.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.station {
  font-size: 26px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid lightgray;
  padding: 1px;
  font-size: 22px;
  text-align: left;
}

td.countdown {
  width: 5ch;
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
